/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

.byline {
    padding: 15px;
    background-color: rgb(251, 251, 249);
    display: flex;
    margin-top: 15px;
    width:100%;
}

.byline img {
    width: 80px;
    height: 80px;
}

.byline p {
    padding: 0 25px;
}

.byline p span {
    color: purple;
    font-weight: bold;
    font-size: 20px;
}

figure.figure.left {
    margin-right: 30px !important;
}

ul {
    overflow: hidden;
}

.comment {
    font-style: italic;
    color: gray;
}
