/**
 * Layout for responsive style through media queries.
 */

@media screen and (max-width: 1500px) {
    .site-logo {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .left,
    .right {
        float: none;
    }

    .footer-column-wrapper {
        flex-direction: column;
        text-align: center;

        .footer-column {
            #desinax-vgrid.column(@columns);

            & + & {
                border-left: none;
                border-top: 1px solid #fff;
            }
        }
    }

    .region-main,
    .region-sidebar-left,
    .region-sidebar-right,
    .region-main.has-sidebar,
    .region-main.has-sidebar.has-sidebar-left.has-sidebar-right {
        display: block;
        #desinax-vgrid.column(@columns);
    }

    .inner-wrap-main,
    .inner-wrap-footer {
        padding-left: @magicNumber;
        padding-right: @magicNumber;
    }
}
